.slimSpace {
	width: 80%;
}

.twoColumns {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.text-left {
	text-align: left !important;
}

.previewBorder {
	border-style: inset;
	border-width: 3px;
}

.description {
	display: none;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.alertSpaced {
	margin-top: 5px;
}

.glyphiconButton {
	font-size: 25px;
}

.normalCursor {
	cursor: default;
}